<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>환영합니다!</h1>
<div class="container">
    <h2>메뉴</h2>
    <ul>
        <li><a href="/users">사용자 관리</a></li>
        <li><a href="/posts">게시물 관리</a></li>
        <li><a href="/comments">댓글 관리</a></li>
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Check if a JWT token is present in localStorage
        const token = localStorage.getItem('token');

        if (token) {
            // If token exists, redirect to the post list page
            window.location.href = '/post-list';
        } else {
            // If no token, redirect to the login page
            window.location.href = '/login';
        }
    });
</script>
</body>
</html>
